<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- including the navbar partial -->
    <%- include('partials/navbar') %>
  </body>
</html>

<div class="navbar-end hidden sm:flex pr-4">
    <span class="badge badge-outline badge-lg">The Crew</span>
  </div>